.wrapper {
    width: 1000px;
    margin: 0 auto;
    padding-top: 150px;
}

header {
    display: none;
}

footer {
    margin-top: 100px;
}

.wrapper > #view.container {
    width: 1000px;
    padding: 0;
}